<!-- <header class="hero"> -->
    <nav class="nav container">
        <div class="nav__logo">
            <h2 class="nav__title"></h2>
            <img th:src="@{/images/SocialPetlogo-removebg-preview.png}" class="about__icon2">
        </div>

        <ul class="nav__link nav__link--menu">
            <li class="nav__items">
                <a href="/admin/mascotaCrear" class="nav__links">Crear mascotas</a>
            </li>
            <li class="nav__items">
                <a href="/contacto" class="nav__links">Contactanos</a>
            </li>
            <li class="nav__items">
                <a href="/mascotas" class="nav__links">Rescata un amigo</a>
            </li>
            <li class="nav__items">
                <a href="/login" class="nav__links">Soy persona</a>
            </li>
            <li class="nav__items">
                <a href="/login" class="nav__links">Soy Fundacion</a>
            </li>
            <li class="nav__items">
                <a href="/ " class="nav__links">Salir</a>
            </li>
        </ul>

    </nav>
    <div>
        <p></p>
    </div>