<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocialPets</title>
    <link rel="shortcut icon" th:href="@{/images/SocialPetlogo.jpeg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">

    <meta name="theme-color" content="#2091F9">

    <meta name="title" content="¡Salva y adopta un nuevo amigo!">
    <meta name="description"
        content="Estas listo para salvar a un nuevo amigo y que forme parte de tu familia? Somos SocialPets y nos encargamos de ayudar a encontrar un hogar a animales sin hogar, ¡Bienvenido!.">
</head> 