 <!-- Fragmento Head -->
 <div th:replace="fragments/head"></div>
 <!-- Fragmento Head --> 
<body>




    <header class="hero">
       <!-- Fragmento Nav -->
        <div th:replace="fragments/headerNav"></div>
        <!-- Fragmento Nav -->
        <div class="contact">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="titlepage">
                        <h2>Contactanos</h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-10 offset-md-1">
                     <form id="request" class="main_form">
                        <div class="row">
                           <div class="col-md-12 ">
                              <input required class="contactus" placeholder="Tu nombre" type="text" name="Name"> 
                           </div>
                           <div class="col-md-12">
                              <input required  class="contactus" placeholder="Email" type="email" name="Email"> 
                           </div>
                           <div class="col-md-12">
                              <input required class="contactus" placeholder="Numero de telefono" type="number" name="Phone Number">                          
                           </div>
                           <div class="col-md-12">
                              <textarea class="textarea" placeholder="Mensaje" type="type" Message="Name"></textarea>
                           </div>
                           <div class="col-md-12">
                              <button type="submit"  class="send_btn">Enviar</button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
    </header>

    <main>
      
    </main>
    


    

</body>