<!DOCTYPE html>
<html lang="es" xmlns:th=http://www.thymeleaf.org>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocialPets</title>
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/login.css">
    

    <meta name="theme-color" content="#2091F9">

    <meta name="title" content="¡Salva y adopta un nuevo amigo!">
    <meta name="description"
        content="Estas listo para salvar a un nuevo amigo y que forme parte de tu familia? Somos SocialPets y nos encargamos de ayudar a encontrar un hogar a animales sin hogar, ¡Bienvenido!.">
</head> 
<body>
    <header class="hero">
        <!-- Fragmento Nav -->
        <div th:replace="fragments/headerNav"></div>
        <!-- Fragmento Nav -->
        

        <div class="popup">
    <form action="#" th:action="@{/signin}" method="post" th:objet="${user}">
        <div class="form">
            <h2>Inicia sesion</h2>
            <div class="form-element">
                <label for="email">Email</label>
                <input  type="email" id="email" name="email" th:field="*{user.email}" placeholder="Ingresa tu Email">
            </div>
            <div class="form-element">
                <label for="password">Contraseña</label>
                <input  type="password" id="password" name="password"  th:field="*{user.password}" placeholder="Ingresa tu Contraseña">
            </div>
            <div class="form-element">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Recordarme<a href=""></a></label>
            </div>
            
            <div class="form-element">
                <label for="login" id="login"></label>
                <button type="submit"  class="send_btn">Inicia sesion</button>
            </div>
            <div class="form-element">
                <label for="register" id="register">Eres nuevo?</label>
                <a href="registerpersonas">
                    <button>Registrate</button>
                </a>   
            </div>
            
            <div class="form-element">
                <a href="fpass">Olvidaste tu Contraseña?</a>
    
            </div>
        </div>
    </form>
</div>
    </header>
    <main>  
        <section class="footer__copy container">
            <div class="footer__social">
                <a href="#" class="footer__icons"><img src="./images/facebook.svg" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="./images/twitter.svg" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="./images/youtube.svg" class="footer__img"></a>
            </div>

            <h3 class="footer__copyright">Derechos reservados &copy; SocialPets team</h3>
        </section>


    <script src="./js/slider.js"></script>
    <script src="./js/questions.js"></script>
    <script src="./js/menu.js"></script>


    

</body>