 <!-- Fragmento Head -->
 <div th:replace="fragments/head"></div>
 <!-- Fragmento Head --> 
<body>

    <header class="hero">
         <!-- Fragmento Nav -->
         <div th:replace="fragments/headerNav"></div>
         <!-- Fragmento Nav -->

        <section class="hero__container container">
            <div class="title">
                <h1>Nuestros valores</h1>
               
               </div>
            <p class="hero__paragraph">Somos un equipo dedicado a salvar animales los cuales no cuentan con un hogar
                se encuentran en peligro o no son amados, Nuestro objetivo es encontrarles un hogar en el cual sean amados
                y protegidos, jamas sean abandonados
            </p>
            <a href="#" class="cta">¡Adopta ahora!</a>
        </section>
    </header>

    <main>  
        <section class="footer__copy container">
            <div class="footer__social">
                <a href="#" class="footer__icons"><img src="./images/facebook.svg" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="./images/twitter.svg" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="./images/youtube.svg" class="footer__img"></a>
            </div>

            <h3 class="footer__copyright">Derechos reservados &copy; SocialPets team</h3>
        </section>
    </footer>

    <script src="./js/slider.js"></script>
    <script src="./js/questions.js"></script>
    <script src="./js/menu.js"></script>
</body>

</html>