<div class="popup">
           
    <form action="" method="post">
        <div class="form">
            <h2>Inicia sesion</h2>
            <div class="form-element">
                <label for="email">Email</label>
                <input type="text" id="email" placeholder="Ingresa tu Email">
            </div>
            <div class="form-element">
                <label for="password">Contraseña</label>
                <input type="password" id="password" placeholder="Ingresa tu Contraseña">
            </div>
            <div class="form-element">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Recordarme<a href=""></a></label>
            </div>
    
            <div class="form-element">
                <label for="login" id="login"></label>
                <button type="submit"  class="send_btn">Inicia sesion</button>
            </div>
    </form>
        <div class="form-element">
            <label for="register" id="registrof">Eres nuevo?</label>
            <a href="registrof">
                <button>No tengo cuenta, quiero registrarme</button>
            </a>   
        </div>
        <div class="form-element">
            <a href="fpass">Olvidaste tu Contraseña?</a>

        </div>

    </div>
</div>